@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

.navbar {
    padding: .5rem 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-container-mobile {
        display: none;
    }
}

@media (min-width: 1025px) {
    .nav-container-mobile {
        display: none;
    }
}

.nav-logo-mobile {
    width: 10rem;
    cursor: pointer;
}

.icon-hamburger {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-container-desktop {
    display: none;
}

#nav-menu-mobile {
    display: none;
}

.nav-link-mobile {
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.nav-mobile-btn {
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    background-color: #ffde59;
    color: #000080;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-container-desktop {
        display: block;
    }
}

@media (min-width: 1025px) {
    .nav-container-desktop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-title-container {
        display: flex;
        align-items: center;
    }

    .nav-logo-desktop {
        width: 2.5rem;
        cursor: pointer;
        border-right: 2px solid #000080;
    }

    .nav-title {
        margin-left: .5rem;
        font-weight: 500;
        font-size: 1rem;
        color: #000080;
    }

    .nav-menu-desktop-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-menu-desktop {
        font-size: .8rem;
        cursor: pointer;
        padding: .5rem;
    }
    
    .nav-menu-desktop:hover {
        border-radius: 10px;
        background-color: #f2f7ff;
    }

    .nav-btn {
        background-color: #000080;
        color: #fff;
        padding: .3rem .8rem;
        border-radius: 10px;
        font-size: .7rem;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

#hero {
    background-color: #1579d6;
}

@media (min-width: 1025px) {
    #hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.5rem;
        border-bottom-left-radius: 100px;
    }
}

.hero-img {
    width: 100%;
    border-bottom-left-radius: 100px;
}

@media (min-width: 1025px) {
    .hero-img {
        width: 450px;
    }
}

@media (min-width: 1025px) {
    .hero-detail {
        margin-left : 5rem;
        margin-right : 10rem;
    }
}

.hero-description {
    text-align: center;
    color: white;
    padding: 1.5rem;
    font-size: 1rem;
}

@media (min-width: 1025px) {
    .hero-description {
        text-align: left;
        font-size: 1.2rem;
        padding: 0;
    }
}

.hero-description h2 span {
    color: #ffde59;
    font-style: italic;
}

/* Not Implemented */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero-description h2 span {
        display: block !important;
    }
}

.hero-description p {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: .8rem;
}

@media (min-width: 1025px) {
    .hero-description p {
        padding: 1.5rem 0;
    }
}

.hero-btn-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

@media (min-width: 1025px) {
    .hero-btn-container {
        flex-direction: row;
        padding: 0;
        gap: 1rem;
    }
}

.hero-btn {
    padding: .3rem 1rem;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #000080;
}

@media (min-width: 1025px) {
    .hero-btn {
        font-size: .8rem;
        font-weight: 600;
        padding: .5rem 2rem;
    }
}

.signup-btn {
    background-color: #ffde59;
}

#trust {
    background-color: white;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

@media (min-width: 1025px) {
    #trust {
        margin-top: 0;
        padding: 4rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

@media (min-width: 1025px) {
    .trust-content {
        background-color: #f2f7ff;
        margin-top: 2rem;
        border-radius: 50px;
        padding: 2rem;
        display: flex;
        gap: 5rem;
        flex-direction: row-reverse;
    }

    .trust-content-item {
        width: 50%;
    }
}

.trust-title {
    text-align: center;
    font-size: 1rem;
    padding: 0 1.5rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .trust-title {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) {
    .trust-title-desktop {
        padding: 0;
        text-align: right;
    }
}

.trust-company {
    width: 100%;            
    overflow: hidden;        
    position: relative;
    margin: 1rem;   
}

@media (min-width: 769px) and (max-width: 1024px) {
    .trust-company {
        margin: 3rem 2rem;
    }
}

/* Still need some improve */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.trust-company-slider {
    display: flex;
    width: calc(200px * 10);
    animation: slide 15s linear infinite; 
}

.trust-company-img {
    width: 200px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .trust-company-img {
        width: 300px;
    }
}

.trust-subtitle {
    color: #787878;
    text-align: center;
    font-size: .8rem;
    padding: 1.5rem 0;
}

@media (min-width: 1025px) {
    .trust-subtitle {
        font-size: .7rem;
        text-align: right;
    }
}

.trust-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
}

@media (min-width: 1025px) {
    .trust-container-grid {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.trust-icon {
    font-size: 1.5rem;
    color: #787878;
}

@media (min-width: 1025px) {
    .trust-icon {
        font-size: 2rem;
    }
}

.trust-text {
    font-size: .8rem;
    color: #787878;
}

@media (min-width: 1025px) {
    .trust-text {
        font-size: .6rem;
    }
}

#service {
    margin: 4rem 0;
    padding: 0 4rem;
}

.section-service-title {
    font-size: 1rem;
    text-align: center;
}

.service-list-container {
    margin-top: 1rem;
}

.service-item {
    margin-top: 1rem;
}

.service-img {
    width: 100%;
}

.service-title {
    font-size: 1rem;
    margin: .2rem 0;
}

.service-description {
    font-size: .8rem;
    text-align: justify;
    line-height: 2;
}

.service-btn {
    width: 100%;
    padding: .2rem 2rem;
    background-color: #172ca3;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

.arrow-right-icon {
    margin-left: .5rem;
}

@media (min-width: 1025px) {
    #service {
        padding: 0 5rem;
        padding-bottom: 5rem;
        background: linear-gradient(to top, #f0f5ff, #ffffff);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    .section-service-title {
        font-size: 1.7rem;
    }

    .service-list-container {
        margin-top: 2rem;
    }

    .service-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        margin-top: 3rem;
    }

    .service-item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .service-item:nth-child(even) {
        flex-direction: row;
    }

    .service-title {
        font-size: 1.3rem;
        margin: .2rem 0;
    }

    .service-description {
        font-size: .8rem;
        text-align: left;
        line-height: 1.5;
        margin: 2rem 0;
    }

    .service-btn {
        padding: .5rem 2rem;
        background-color: #172ca3;
        color: white;
        font-size: .8rem;
        font-weight: 500;
        border-radius: 10px;
        width: fit-content;
    }

    .arrow-right-icon {
        display: none;
    }
}

#program {
    padding: 0 2rem;
}

.section-program-title {
    font-size: 1rem;
    text-align: center;
}

.section-program-subtitle {
    font-size: .8rem;
    text-align: center;
    color: #787878;
    padding: 0 1rem;
}

.card-program-container {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-program-item {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.card-program-img-container {
    position: relative;
}

.card-program-img {
    width: 100%;
}

.program-company-img {
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 10;
    width: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-program-info {
    padding: 1rem;
    /* Not implemented */
    /* margin-top: -25px; */
    background-color: white;
    z-index: 20;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-program-title {
    color: #262626;
}

.card-program-tag-container {
    display: flex;
    gap: .5rem;
    margin: 1rem 0;
}

.card-program-tag {
    font-size: small;
    color: #787878;
    padding: .3rem;
    border-radius: 15px;
}

.card-program-description {
    font-size: .8rem;
    text-align: justify;
    color: #262626;
}

.card-program-price {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #172ca3;
    font-size: 1rem;
}

.card-program-deadline {
    display: none;
}

.bg-red-100 {
    background-color: #fcf2f2
}

.bg-blue-100 {
    background-color: #efefff;
}

.bg-yellow-100 {
    background-color: #fffff1;
}

.btn-program-more {
    margin-top: 1.5rem;
    width: 100%;
    padding: .5rem 2rem;
    background-color: #172ca3;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .program-company-img {
        top: 350px;
        width: 80px;
    }
}

@media (min-width: 1025px) {
    .section-program-title {
        font-size: 1.6rem;
        text-align: center;
    }
    
    .card-program-container {
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1.5rem;
        flex-direction: row;
        gap: .8rem;
    }

    .card-program-item {
        max-width: 300px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .program-company-img {
        top: 30px;
        width: 60px;
    }

    .card-program-title {
        font-size: .9rem;
    }

    .card-program-info {
        padding: 1rem 1.5rem;
        flex-grow: 1;
    }

    .card-program-tag {
        font-size: .6rem;
        font-weight: 500;
    }

    .card-program-description {
        font-size: .6rem;
        line-height: 2;
    }

    .card-program-deadline {
        display: block;
        background-color: #f7f9fc;
        padding: 1rem;
        color: #787878;
        font-size: small;
    }
    
    .btn-program-container {
        display: flex;
        justify-content: center;
    }

    .btn-program-more {
        width: fit-content;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
    }
}

#why {
    margin-top: 2rem;
    padding: 2.5rem 2rem;
    background-color: #f2f7ff;
}

.section-why-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #262626;
}

.why-grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
    gap: 1rem;
}

.why-card {
    padding: 1.5rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.why-card img {
    width: 40px;
}

.why-card p {
    font-size: x-small;
    color: #2d2d2d;
}

@media (min-width: 1025px) {
    #why {
        margin-top: 5rem;
        padding: 3rem 7rem;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }

    .section-why-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .why-grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .why-card {
        padding: 2rem;
    }

    .why-card h4 {
        font-size: .8rem;
    } 

    .why-card img {
        width: 50px;
    }
}

#testimony {
    margin-top: 2rem;
    padding: 1rem 2rem;
    overflow: hidden;
}

.section-testimony-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #262626;
}

.testimony-slider {
    margin-top: 2rem;
    display: flex;
    overflow-x: visible;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.testimony-card {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid #fffff1;
    flex: 0 0 100%;
}

.testimony-card > p {
    font-size: small;
    color: #2d2d2d;
    text-align: center;
    padding: 0 .3rem;
}

.testimony-user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .8rem;
    gap: 1rem;
}

.testimony-user-img {
    width: 50px;
    border-radius: 50%;
}

.testimony-user-name {
    font-size: small;
    font-weight: 600;
}

.testimony-user-position {
    font-size: x-small;
    font-weight: 300;
    color: #787878;
}

.testimony-indicator-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    align-items: center;
}

.testimony-indicator {
    height: 3px;
    background-color: #cccccc;
    border-radius: 30px;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.testimony-indicator-current {
    height: 3px;
    background-color: #172ca3;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.testimony-control {
    display: flex;
    justify-content: flex-end;
}

.testimony-control > button {
    padding: .5rem;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    color: white;
    font-size: medium;
    background-color: #172ca3;
    cursor: pointer;
}

.testimony-control > button:hover {
    background-color: #0f1f8b;
}

.btn-prev {
    margin-right: .3rem;
}

@media (min-width: 1025px) {
    #testimony {
        margin: 5rem 0;
        padding: 0 7rem;
    }

    .section-testimony-title {
        font-size: 1.6rem;
    }

    .testimony-slider {
        margin-top: 3rem;
        transition: transform .5s ease-in-out;
        gap: 2rem;
    }

    .testimony-card {
        flex: 1 0 33.33%;
        display: flex;
        flex-direction: column;
        max-width: 370px;
        height: 230px;
        border: 1px solid #fffff9;
    }

    .testimony-card > p {
        flex-grow: 1;
        font-size: small;
        color: #2d2d2d;
        padding: 1rem;
    }

    .testimony-indicator-container {
        margin-top: 3rem;
    }

    .testimony-indicator {
        width: 100%;
    }
}

#form {
    margin-top: 2rem;
    padding: 1rem;
    overflow: hidden;
}

.section-form-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: #262626;
}

.section-form-subtitle {
    text-align: center;
    font-size: .7rem;
    font-weight: 400;
    color: #414141;
    margin-top: .5rem;
    line-height: 1.5;
}

.form-container {
    margin-top: 2rem;
    padding: 0 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-input {
    font-size: .9rem;
    font-weight: 600;
    color: #414141;
}

.input, .collab-need {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    font-size: .7rem;
    outline: none;
}

.whatsapp-input {
    display: flex;
    align-items: center;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}

.flag-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: .5rem;
}

.icon-flag {
    margin-right: .5rem;
}

.country-code {
    font-size: .7rem;
    color: #787878;
}

.input-field {
    font-size: .7rem;
    border: none;
    outline: none;
    flex: 1;
}

.input-field::placeholder {
    color: #bbb;
}

.collab-need {
    color: #787878;
    /* Hides default dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.checkbox-group {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox-input {
    transform: scale(1.5);
}

.checkbox-group > p {
    font-size: .9rem;
    color: #787878;
}

.checkbox-group > p > a {
    color: #172ca3;
    font-weight: 600;
}

.btn-form-submit {
    margin-top: 1.5rem;
    padding: .5rem;
    background-color: #a7a6a6;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    border-color: transparent;
}

.required {
    color: rgb(213, 1, 1);
    display: none;
}

@media (min-width: 1025px) {
    #form {
        margin-top: 7rem;
    }

    .section-form-title {
        font-size: 1.7rem;
    }

    .section-form-subtitle {
        font-size: .8rem;
    }

    .form-container {
        margin-top: 3rem;
        padding: 0 12rem;
    }

    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .form-group {
        gap: .2rem;
    }

    .label-input {
        font-size: .8rem;
        font-weight: 700;
    }

    .input {
        font-size: .8rem;
        padding-left: 2rem;
        padding-top: .8rem;
        padding-bottom: .8rem;
    }

    .whatsapp-input {
        padding-left: 2rem;
    }

    .country-code {
        font-size: .8rem;
    }

    .input-field {
        font-size: .8rem;
        margin-left: 1rem;
    }

    .collab-group, .checkbox-group, .btn-form-submit {
        grid-column: span 2;
    }

    .checkbox-group {
        gap: .5rem;
        justify-content: center;
    }

    .checkbox-input {
        transform: scale(1.1);
    }

    .checkbox-group > p {
        font-size: .7rem;
        color: #787878;
    }

    .btn-form-submit {
        text-transform: uppercase;
        width: fit-content;
        padding: .8rem 8rem;
        font-size: .85rem;
        justify-self: center;
        letter-spacing: 1px;
        margin-top: 1rem;
    }

    .required {
        display: inline;
    }
}

#faq {
    margin-top: 2rem;
    background-color: #f0f5ff;
    padding: 3rem 2rem;
}

.section-faq-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.dropdown-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.dropdown-item {
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
}

.dropdown-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.question {
    font-size: .9rem;
    font-weight: 700;
    color: #414141;
}

.icon-chevron-up {
    display: none;
}

.icon-chevron-up:hover, .icon-chevron-down:hover {
    color: #1579d6;
}

.answer {
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: 500;
    color: #787878;
    display: none;
    transition: transform .5s ease-in-out;
}

.active {
    display: block;
}

@media (min-width: 1025px) {
    #faq {
        margin-top: 6rem;
        padding: 5rem;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        display: flex;
    }

    .section-faq-title {
        font-size: 1.7rem;
        text-align: left;
    }

    .dropdown-container {
        margin-top: 0;
        width: 100%;
    }
}

#footer {
    padding: 2rem .7rem;
    background-color: #d3d6e0;
    color: #373840;
}

.footer-content {
    display: grid;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-info-detail {
    padding-right: 1rem;
}

.footer-info-detail > h3 {
    font-size: 1.1rem;
}

.footer-info-detail > p {
    font-size: .8rem;
    line-height: 2;
}

.footer-logo {
    width: 200px;
}

.footer-socmed-container {
    display: flex;
    gap: 1rem;
}

.socmed-icon {
    font-size: 1.7rem;
    border-radius: 50%;
    color: #717171;
}

.footer-links-container {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.footer-program, .footer-business, .footer-about, .footer-others {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.footer-link {
    font-size: .8rem;
}

.hr-line {
    height: 1px;
    background-color: #a7a6a6;
    width: 100%;
    margin: 1rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-info-detail>p {
        font-size: .8rem;
        padding-right: 20rem;
    }
    .footer-links-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-about, .footer-others {
        grid-column: span 2;
    }
}

@media (min-width: 1025px) {
    #footer {
        padding: 2.5rem 6rem;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-logo {
        width: 180px;
    }

    .footer-links-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-info-detail > h3 {
        font-size: 1rem;
    }

    .footer-info-detail > p {
        font-size: .7rem;
        font-weight: 500;
        padding-right: 15rem;
    }

    .footer-socmed-container {
        gap: .8rem;
    }

    .socmed-icon {
        font-size: 1.5rem;
    }

    .footer-links-container {
        margin-top: 0;
    }

    .footer-program > h4, .footer-about > h4, .footer-others > h4, .footer-business > h4 {
        font-size: .8rem;
    }

    .footer-others {
        grid-column: 3;
    }

    .footer-link {
        font-size: .7rem;
    }

    .copyright-text {
        font-size: .9rem;
    }
}